services:
    development:
        container_name: development
        build:
            .
            # nosemgrep
        privileged: true
        environment:
            - AI_API_URL=$AI_API_URL
            - AI_API_KEY=$AI_API_KEY
            - AUTHORIZED_PUBLIC_KEYS=
            - USER_GROUPS=
        ports:
            - "127.0.0.1:8022:22"
