# Authentication
AllowUsers user
AuthorizedKeysFile /app/ssh/authorized_keys
ChallengeResponseAuthentication no
PermitRootLogin no
PasswordAuthentication no
UsePAM no

# Connection
HostKey /app/ssh/host_key
Subsystem sftp internal-sftp
Port 22
